PRODCONS/src/__pycache__/ConsumerClass.cpython-312.pyc
PRODCONS/src/__pycache__/GlobalStats.cpython-312.pyc
PRODCONS/src/__pycache__/ProducerClass.cpython-312.pyc
PRODCONS/src/__pycache__/SharedBuffer.cpython-312.pyc
